*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    /*background: linear-gradient(27deg, #991B27 50%,#E64F25 50%);
    backdrop-filter: blur(10px);*/
    background-image: url('../images/imageGYM6.jpeg');
    background-size: cover;
}

#body2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    /*background: linear-gradient(27deg, #991B27 50%,#E64F25 50%);
    backdrop-filter: blur(10px);*/
    background-size: cover;
}

#form-body{
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 10px;
    background:rgb(34, 34, 34);
}

#form-body img{
    width: 150px;
    display: block;
    margin: 20px auto;
}

#text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 25px;
}

#form-body input{
    display: block;
    height: 40px;
    width: 275px;
    padding-left: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;

}
#login-form{
    padding: 62.5px;

}

#form-body input[type="password"]{
    margin-top: 20px;
    margin-bottom: 20px;
}


::placeholder {
    font-size: 1rem;
    color: rgb(255, 255, 255, .596);
}

#form-body input:hover {
    transition: .5s;
    border: 1px solid #ED884C;
    color: #fff;
}

#form-body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background: transparent;
    color: #b9c4c6;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 2px solid #F1A183;
    transition: all .5 ease;
    font-size: 1.2rem;
}

#form-body button:hover {
    transition: all .5 ease;
    color: #d5dbdd;
    font-weight: 100;
    border: 2px solid #ED884C;
    background: linear-gradient(#c16936,#9c4222);
}

#td1{
    color: #ffffff;
    text-align: center;
}
#td2{
    align-items: center;
    transform: scale(0.7);
}
#tr1{
    margin-bottom: 25px;
    align-items: right;
    margin:auto;
}
#tr2{
    margin-bottom: 25px;
    align-items: right;
    margin:auto;
}
#table1{
    margin-left: 30px;

}

#imagen {
    background: none;
}

