#body-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(25, 25, 25);
  
}

#table-user {
  border-collapse: collapse;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#table-td {
  padding: 10px;
}

#table-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#table-input[type="datetime-local"],
#table-input[type="time"],
#table-input[type="number"] {
  width: auto;
}

#table-input[type="submit"] {
  background-color: #f89358;
  color: white;
  cursor: pointer;
}

#table-input[type="submit"]:hover {
  background-color: #ea8348;
}

#text2{
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  position: relative;
}

#form-body2{
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 50px;
  margin: 20px;
  padding: 20px;
  background: rgb(34, 34, 34);
}

.month {
  padding: 20px 25px;
  width: 100%;
  background: #404242;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
color: white;
font-size: 23px;
text-transform: uppercase;
letter-spacing: 3px;
list-style-type: none;
}

.month .prev {
float: left;
padding-top: 10px;
}

.month .next {
float: right;
padding-top: 10px;
}

.weekdays {
margin: 0;
padding: 10px 0;
background-color: #ddd;
}

.weekdays li {
display: inline-block;
width: 13.6%;
color: #666;
text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
list-style-type: none;
display: inline-block;
width: 13.6%;
text-align: center;
margin-bottom: 5px;
font-size: 12px;
color: #777;
}

.days li .active {
padding: 5px;
background: #3f4d4a;
color: white !important;
}

@media screen and (max-width: 720px) {
.weekdays li,
.days li {
  width: 13.1%;
}
}

@media screen and (max-width: 420px) {
.weekdays li,
.days li {
  width: 12.5%;
}
.days li .active {
  padding: 2px;
}
}

@media screen and (max-width: 290px) {
.weekdays li,
.days li {
  width: 12.2%;
}
}